.content {
  grid-area: content;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 90px 20px 20px;
  box-sizing: border-box;
  max-width: 100%;
}

.content-streach {
  grid-column: 1 / -1;
  margin-left: 70px;
}

.content__title {
  color: #525252;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 600;
  margin: 3px 0 0;
}

.content__text {
  color: #595959;
  font-size: 16px;
  line-height: 1.2;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 760px) {
  .content {
    margin: 110px 10px 10px;
  }
}

@media screen and (max-width: 600px) {
  .content-streach {
    margin: 0;
    border-radius: 0;
  }

  .content {
    margin-top: 120px;
  }
}
